<div class="container card-list">

    <h1 class="header">Employee Flashcards</h1>
    <div class="form-group form-inline">
        <button class="btn btn-primary" data-bind="click: shuffleCards">Shuffle</button>
        <select class="form-control" data-bind="options: offices, value: selectedOffice"></select>
        <select class="form-control" data-bind="options: serviceLines, value: selectedServiceLine"></select>
        <select class="form-control" data-bind="options: origins, value: selectedOrigin"></select>
        <button class="btn btn-secondary" data-bind="click: resetFilters">Clear Filters</button>
        <button class="btn btn-secondary" data-bind="click: unflipAll">Unflip All</button>
    </div>

    <div class="row" data-bind="foreach: cards">
        <div class="col-xs-12 col-sm-6 col-sm-4 col-md-3 card-container">
            <div class="card">
                <div class="front image-container">
                    <!-- style="height: 250px; width: 263px;" -->
                    <img class="img-responsive" data-bind="attr: { src: photo }" alt="?" />
                </div>
                <div class="back">
                    <h2 data-bind="text: name"></h2>
                    <p data-bind="text: serviceLine"></p>
                    <p data-bind="text: office"></p>
                    <p data-bind="text: origin"></p>
                </div>
            </div>
        </div>
    </div>
</div>